#home-body {
    border: none;
    background: url('../Photos/Home2.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#home-body mark {
    font-family: 'Roboto', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-weight: 400;
    color: rgb(155, 155, 155);
    background: none;
    letter-spacing: 0;
    margin-left: .5rem;
    margin-top: .5rem;
    position: sticky;
    z-index: 9999;
    display: inline-block;
}
